body {
    background-color:royalblue;
}

#newPostForm {
    background-color:white;
    padding:10px;
    width:400px;
    border:4px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.hidden {
    display:none;
}
.shown {
    display:block;
}

#newPostForm > * {
    box-sizing: border-box;
}

#newPostForm > * + * {
    margin-top:5px;
}

input#texttitle {
    font-size:20px;
    font-weight:bold;
}

input[type=text] {
    border:none;
    display:block;
    width:400px;
}

#posttext {
    width:400px;
    height:100px;
    resize: none;
}

article {
    background-color:white;
}