<div id="error" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin:auto;width:500px;border:1px solid rgba(0,0,0,0.5);box-shadow:3px 3px 2px 2px rgba(0,0,0,0.1);border-radius:5px;padding:15px 20px">
  <h3>No se puede acceder a este sitio web</h3>
  <p>No se ha podido encontrar la dirección IP del servidor de asdfiojasdof.com.</p>
  <p>Busca <a href="#">asdfasdf</a> en Google</p>
  <p>ERR_NAME_NOT_RESOLVED</p>
</div>

